<h1>BurgerMaker!</h1>

<h2>Available Burgers</h2>
<ul>
  {{#each burgers}}
  {{#unless devoured}}
  <div class="burgerDiv">
    <form action="/api/burgers/{{this.id}}" method="POST">
      {{this.name}}
      <button type="submit">
        <i class="fas fa-utensils"></i>
      </button>
    </form>
  </div>
  {{/unless}}
  {{/each}}
</ul>

<h2>Devoured</h2>

<ul>
  {{#each burgers}}
  {{#if devoured}}

  <li>
    <div class="burgerDiv">
      {{this.name}}
    </div>
  </li>

  {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form" action="/api/burgers" method="POST">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <button type="submit">Add Burger</button>
</form>